.ms_style {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0, 0.15);
  border-radius: 10px;
  padding: 10px 0;
  .ms_links {
    margin-top: 10px;
    display: block;
    width: 150px;
    text-align: center;
  }
  img {
    border-radius: 7px;
  }
}
