.ms_style {
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0, 0.15);
  border-radius: 10px;
  padding: 10px 0;
  .ms_links {
    margin-top: 10px;
    display: block;
    width: 150px;
    text-align: center;
  }
  img {
    border-radius: 7px;
  }
}
.ms_apartment_list h5{
    font-weight: bold;
    overflow-y: hidden;
}
.ms_apartment_list p{
  max-height: 70px;
  overflow: hidden;
}
@media screen and (max-width:992px){
  .ms_apartment_list h5{
    margin-top: 10px;
  }
  .ms_apartment_list p{
    max-height: 100px;
    overflow: hidden;
  }
}
