footer {
  color: $tertiary_color;
  background-color: #ddd;
  ul li {
    list-style-type: none;
    margin-top: 16px;
    :hover {
      color: $tertiary_color;
    }
  }
  a {
    color: $tertiary_color;
    font-size: 14px;
    font-weight: 300;
  }
  h3 {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  .social {
    display: flex;
    justify-content: flex-start;
    li {
      margin: 0 20px 0 0;
      :hover {
      color: $secondary_color;
    }
    }
    i {
      font-size: 22px;
    }
  }
  .container {
    border-top: 1px solid #ccc;
    padding: 50px 0 0 0;
  }
  .colophone {
    border-top: 1px solid #ccc;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    padding-top: 20px;
    #ms_names{
      font-weight: bold;
    }
  }
}

// media queries
@media screen and (min-width: 767px) {
  section {
    border-bottom: none!important;
  }
}
@media screen and (max-width: 767px) {
  .colophone {
    border-top: none!important;
  }
}

@media screen and (max-width: 576px) {
  footer section {
    padding: 0 20px;
  }
}
