footer {
  color: $tertiary_color;
  ul li {
    list-style-type: none;
    margin-top: 16px;
    :hover {
      color: $tertiary_color;
    }
  }
  a {
    color: $tertiary_color;
    font-size: 14px;
    font-weight: 300;
  }
  h3 {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 35px;
  }

  section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}

// media queries

@media screen and (min-width: 767px) {
  section {
    border-bottom: none!important;
  }
}
