footer {
  color: $tertiary_color;
  ul li {
    list-style-type: none;
    margin-top: 16px;
    :hover {
      color: $tertiary_color;
    }
  }
  a {
    color: $tertiary_color;
    font-size: 14px;
    font-weight: 300;
  }
  h3 {
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  section {
    border-bottom: 1px solid #ddd;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  .social {
    display: flex;
    justify-content: flex-start;
    li {
      margin: 0 15px 0 0;
    }
    i {
      font-size: 22px;
    }
  }

  .colophone {
    border-top: 1px solid #ddd;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}



// media queries

@media screen and (min-width: 767px) {
  section {
    border-bottom: none!important;
  }
}
@media screen and (max-width: 767px) {
  .colophone {
    border-top: none!important;
  }
}
