.navbar {
  position: fixed!important;
  z-index: 1;
  width: 100%;
  height: 70px;
}
.ms_header_button {
  color: #fff!important;
  background-color: $secondary_color;
  border-radius: 4px;
}

.ms_header_button:hover {
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
}


#app .navbar-nav li:hover{
  border-bottom: 2px solid $secondary_color;
}


// media queries
@media screen and (max-width: 767px) {
  .ms_header_button {
    color: $secondary_color!important;
    background-color: #fff;
  }

  .ms_header_button:hover {
    background: none;
    color: #E61E4D!important;
  }

  #app .navbar-nav li{
  border-bottom: 1px solid lightgrey;
  }
  #app .navbar-nav li:last-child{
  border-bottom: 0px;
  }
  #app .navbar-nav{
    background-color: white;
    text-align: center;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  }
}
