// #ex1Slider .slider-selection {
// 	background: #BABABA;
// }

// sezione above the fold (immagine e search)
.ms_homepage {
  position: relative;
}

.ms_homepage input.form-control {
  width: 400px;
  display: inline-block;
  height: 45px;
  border-radius: 12px;
}

.ms_homepage .ms_background_image {
  background-image: url('/../images/home.gif');
  // height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  height: calc(100vh - 185px);
  // background-size: cover;
  // width: 100%;
  // height: 350px;
}

.ms_homepage .ms_absolute {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ms_homepage .btn {
  color: #fff;
  background-color: $secondary_color;
  position: absolute;
  // top: -1px;
  height: 45px;
  border-radius: 12px;

}

.ms_homepage .btn:hover {
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  color: #fff;
}

.text {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: $secondary_color;
  top: 3%;
  left: 10%;
  width: 525px;
  // line-height: 18px;

  h2 {
    font-size: 32px;
    font-weight: 700;
  }
  cite{
    font-size: 21px;
  }

}
// fine sezione above the fold (immagine e search)

// sezione ricerca filtri
#ms_filter_search {
  .ms_range_rooms,
  .ms_range_beds,
  .ms_range_km {
    float: right;
  }
}
// fine sezione ricerca filtri

// sezione card per mostrare appartamenti
.ms_apartment_container .card,
.ms_sposored_apartment .card,
.ms_apartment_sponsored_container .card {
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
  .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    // height: 180px;
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  .card-title {
    height: 40px;
    font-weight: bold;
  }
  .card-text {
    height: 80px;
    overflow-y: hidden;
  }
}
//personalizzo card appartamento in evidenza
.ms_apartment_sponsored_container .card{
  background-color: #D9FB19;
  border: none;
}

// finesezione card per mostrare appartamenti


// MEDIA QUERIES
@media screen and (max-width: 767px) {

  // above the fold
  .ms_homepage input.form-control {
    width: 240px;
    margin-right: 10px;
  }

  .ms_homepage .btn {
    top: -8px;
  }

  .ms_homepage .ms_absolute {
    top: 55%;
    left: 43%;
  }

  .text {
    top: 16%;
    left: 4%;
    width: 311px;

    h2 {
      font-size: 26px;
      font-weight: 600;
    }
    cite{
      font-size: 21px;
    }

  }
  // fine above the fold

  // card
  .ms_apartment_container .card .card-img-top,
  .ms_sposored_apartment .card .card-img-top,
  .ms_apartment_sponsored_container .card .card-img-top {
    height: auto;
  }
  // fine card

}
// above the fold
@media screen and (min-width: 576px) and (max-width: 767px) {
  .ms_homepage .btn {
    top: 0px;
  }
}
// fine above the fold
