// #ex1Slider .slider-selection {
// 	background: #BABABA;
// }

// sezione above the fold (immagine e search)
.ms_homepage {
  position: relative;
}

.ms_homepage input.form-control {
  width: 400px;
  display: inline-block;
  // height: 65px;
  // border-radius: 40px;
}

.ms_homepage .ms_background_image {
  background-image: url('/../images/air2.jpg');
  // height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  height: 100vh;
  // background-size: cover;
  // width: 100%;
  // height: 350px;
}

.ms_homepage .ms_absolute {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ms_homepage .btn {
  color: #fff;
  background-color: $secondary_color;
  position: absolute;
  // top: -1px;
  height: 36.9px;
}

.ms_homepage .btn:hover {
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  color: #fff;
}

.text {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  top: 50%;
  left: 10%;
  width: 300px;
  // line-height: 18px;

  h1 {
    font-size: 32px;
    font-weight: 900;
  }

  a {
    color: #000;
    padding: 10px 15px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 7px;
  }

  a:hover {
    text-decoration: none;
    background-color: #ebebeb;
    color: #000;
  }
}
// fine sezione above the fold (immagine e search)

// sezione ricerca filtri
#ms_filter_search {
  .ms_range_rooms,
  .ms_range_beds,
  .ms_range_km {
    float: right;
  }
}
// fine sezione ricerca filtri

// sezione card per mostrare appartamenti
.ms_apartment_container .card,
.ms_sposored_apartment .card {
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
  .card-img-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 180px;
  }
  .card-title {
    height: 40px;
  }
  .card-text {
    height: 80px;
    overflow-y: hidden;
  }
}

// finesezione card per mostrare appartamenti


// MEDIA QUERIES
@media screen and (max-width: 767px) {

  // above the fold
  .ms_homepage input.form-control {
    width: 250px;
  }

  .ms_homepage .btn {
    top: -8px;
  }
  .ms_homepage .ms_background_image  {
    background-position: right;
  }
  .ms_homepage .ms_absolute {
    top: 55%;
  }

  .text {
    top: 20%;
    left: 25%;
    text-align: center;
    font-size: 12px;
  }
  // fine above the fold

  // card
  .ms_apartment_container .card .card-img-top {
    height: auto;
  }
  // fine card

}
// above the fold
@media screen and (min-width: 576px) and (max-width: 767px) {
  .ms_homepage .btn {
    top: 0px;
  }
}
// fine above the fold
