.ms_show {
  img {
    width: 100%;
    border-radius: 10px;
  }
  ul {
    padding: 0;
  }
  ul li {
    list-style-type: none;
  }

  /* Set the size of the div element that contains the map */
        #map {
          height: 400px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
         }
}
