// #ex1Slider .slider-selection {
// 	background: #BABABA;
// }

.ms_homepage {
  position: relative;
}

.ms_homepage input.form-control {
  width: 400px;
  display: inline-block;
  // height: 65px;
  // border-radius: 40px;
}

.ms_homepage .ms_background_image {
  background-image: url('/../images/air2.jpg');
  // height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, center;
  height: 100vh;
  // background-size: cover;
  // width: 100%;
  // height: 350px;
}

.ms_homepage .ms_absolute {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ms_homepage .btn {
  color: #fff;
  background-color: $secondary_color;
  position: absolute;
  // top: -1px;
  height: 36.9px;
}

.ms_homepage .btn:hover {
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  color: #fff;
}

.text {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  top: 50%;
  left: 10%;
  width: 300px;
  // line-height: 18px;

  h1 {
    font-size: 32px;
    font-weight: 900;
  }

  a {
    color: #000;
    padding: 10px 15px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 7px;
  }

  a:hover {
    text-decoration: none;
    background-color: #ebebeb;
    color: #000;
  }
}

// media queries
@media screen and (max-width: 767px) {
  .ms_homepage input.form-control {
    width: 250px;
  }

  .ms_homepage .btn {
    top: -8px;
  }

  .ms_homepage .ms_absolute {
    top: 55%;
  }

  .text {
    top: 20%;
    left: 25%;
    text-align: center;
    font-size: 12px;
  }
}
